.carousel {

    &__img--height {
        height: 490px;
        // @include media-breakpoint-up(md) {
        //     height: 700px;
        // }
        // @include media-breakpoint-up(lg) {
        //     height: 750px;
        // }
    }

    &-inner {
        position: relative;
    }
}



// col-md //
@media (min-width:768px) {
    .carousel {
        &__img--height {
            height: 700px;
        }
    }
}

@media (min-width:960px) {
    .carousel {
        &__img--height {
            height: 750px;
        }
    }
}