* {

    input,
    button:focus {
        outline: none !important;
    }
}

body {
    a {
        transition: all 300ms linear !important;
    }

    p {
        color: theme-color("brand-gray-dark");
    }

    ul {
        list-style: none;
    }

    input {
        border: none;
    }

    // Safari 和 Chrome，常用於 iOS 下移除內建樣式
    input,
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
    }
}